body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #4f5d6e;

    position: relative;
}

#bordado{
    border:1px solid;
    
}
#zapatillas{
 float: none;
}
.uno {
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 4px 5px #000;
    background-color: red;
    border: 1px solid white;
    font-family: 'Merriweather', serif;
    

}
 nav {
      margin-top: 10px;


      font-family: 'Merriweather', serif;

      box-shadow: 5px 4px 5px #000;
      background-color: red;
      font-size: 19px;
      overflow: hidden;


    }


    .botones {
      margin-left: 500px;
    }



footer {
    
    background-color: red;
    height: 50px;
    color: white;
    clear: both;
    box-shadow: 5px 4px 5px #000;
    font-family: 'Oswald', serif;

}

p{
    font-family: 'Oswald', serif;
}

h2{
    font-family: 'Heebo', serif;
}



.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 10px 16px 40px #000;
  }

  .form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
  }

  .controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-family: 'calibri';
    font-size: 18px;
    background-color: #24303c;
    color: white;
  }

  .form-register p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
  }

  .form-register a {
    color:white;
    text-decoration: none;

  }

  .form-register a:hover {
    color:white;
    text-decoration: underline;
  }

  .form-register .boton {
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }