
#formulario label {
  color:#FB3A3A;
  font-weight:bold;
}
label.error { float: none; color: red; padding-left: .5em; vertical-align: middle; font-size: 12px; }
  .standalone-container {
    margin: 50px auto;
    max-width: 720px;
  }
  #snow-container {
    height: 350px;
  }
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 50px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

p {
  font-weight: 100;
  font-size: 14px;
  margin-bottom: -25px;
  margin-top: -10px;
  padding: -0px;
}
h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
/*   font-style: italic; */
}

.contenedor {
  padding: 0;
  margin: 10px auto;
  width: 300px;
  height: 950px;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boton {
  
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
button{
  border:0;
}
#shadow {
  position: relative;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.imagen {
  background-image: url("https://www.artbybagci.com/wp-content/uploads/2017/05/darth-clean.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 1;
  animation-name: aparecer-imagen;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transition: all 4s ease-in-out;
  transform: translatey(0);
  overflow: hidden;
}

.formulario {
  background-image: linear-gradient(
    to top,
    rgba(195, 118, 249, 0.9),
    rgba(123, 237, 209, 0.9)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
  width: 300px;
  height: 650px;
  border-radius: 10px;
  opacity: 1;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.content {
  opacity: 1;
  animation-name: move;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
.content img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 1;
  animation-name: imagen;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  transform: translatey(-10px);
}
@keyframes aparecer-imagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.btn-google {
  display: inline-block;
  color: white;
  border-radius: 5px;
  border: 0px;
  white-space: nowrap;
  background: #ea4335;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
   padding-top: 15px;
      padding-bottom: 15px;
}
.btn-outline-secondary{
    color: white;
    background-color: black;
}
p{
    font-family: 'Oswald', serif;
}

h2{
    font-family: 'Heebo', serif;
}

#centrado{
    justify-content: center;
}


.bg-primary{
    background-color: lightgray !important;
}

.nav-item{
    color: black !important;
}
.nav-link{
    color: black !important;
}
.navbar-brand{
        color: black !important;

}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}