


p{
    font-family: 'Oswald', serif;
}

h2{
    font-family: 'Heebo', serif;
}

#centrado{
    justify-content: center;
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 10px 16px 40px #000;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid red;
    font-family: 'calibri';
    font-size: 18px;
    background-color: #24303c;
    color: white;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.form-register a {
    color:white;
    text-decoration: none;

}

.form-register a:hover {
    color:white;
    text-decoration: underline;
}

.form-register .boton {
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.bg-primary{
    background-color: lightgray !important;
}

.nav-item{
    color: black !important;
}
.nav-link{
    color: black !important;
}
.navbar-brand{
        color: black !important;

}